<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGA1L8OeEOW1mg_vyLvsQvnpYwxLd1YlI</string>
	<key>GCM_SENDER_ID</key>
	<string>984534433660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vehicleduniya.vehicleDuniya</string>
	<key>PROJECT_ID</key>
	<string>vehicle-duniya-198e5</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicle-duniya-198e5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984534433660:ios:75ff9c84055bcc1a64eef9</string>
</dict>
</plist>